In [50]:
import pandas as pd

In [51]:
data=pd.read_excel ("D:\RAJ\AI\dataset\Sample - Superstore.xls")

In [52]:
type (data.OrderID)

pandas.core.series.Series

In [53]:
data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [54]:

ser2=pd.Series(12)

In [55]:
ser2

0    12
dtype: int64

In [56]:
data.columns

Index(['Row ID', 'OrderID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [57]:
data.loc[data.Sales == 22.368, ["Region","Sales","Category"]]

Empty DataFrame
Columns: [Region, Sales, Category]
Index: []

In [58]:
data=data.assign(tax = data.Sales * 0.10)
#df = pd.DataFrame({'temp_c': [17.0, 25.0]},

In [59]:
data.head(2)

,Row ID,OrderID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,tax
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,26.196
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,73.194

In [60]:
data.columns

Index(['Row ID', 'OrderID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'tax'],
      dtype='object')

In [61]:
data1=data[["OrderID", "Segment","Country"]]

In [62]:
data1.head(2)

          OrderID   Segment        Country
0  CA-2016-152156  Consumer  United States
1  CA-2016-152156  Consumer  United States

In [63]:
data1.drop(["OrderID"],axis=1)
#df.drop(['B', 'C'], axis=1)

        Segment        Country
0      Consumer  United States
1      Consumer  United States
2     Corporate  United States
3      Consumer  United States
4      Consumer  United States
...         ...            ...
9989   Consumer  United States
9990   Consumer  United States
9991   Consumer  United States
9992   Consumer  United States
9993   Consumer  United States

[9994 rows x 2 columns]

In [64]:
data.sort_values(by='Category', ascending=False)

,Row ID,OrderID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,tax
2445,2446,CA-2016-146934,2016-05-22,2016-05-27,Standard Class,AF-10870,Art Ferguson,Consumer,United States,Passaic,...,East,TEC-PH-10001336,Technology,Phones,Digium D40 VoIP phone,257.980,2,0.0,74.8142,25.7980
5800,5801,CA-2014-123225,2014-07-11,2014-07-14,First Class,MN-17935,Michael Nguyen,Consumer,United States,El Paso,...,Central,TEC-PH-10000895,Technology,Phones,Polycom VVX 310 VoIP phone,575.968,4,0.2,43.1976,57.5968
2464,2465,CA-2017-148691,2017-12-03,2017-12-09,Standard Class,CS-12460,Chuck Sachs,Consumer,United States,New York City,...,East,TEC-PH-10000576,Technology,Phones,AT&T 1080 Corded phone,136.990,1,0.0,36.9873,13.6990
8559,8560,CA-2016-132829,2016-12-23,2016-12-26,Second Class,LA-16780,Laura Armstrong,Corporate,United States,Houston,...,Central,TEC-PH-10004345,Technology,Phones,Cisco SPA 502G IP Phone,287.880,3,0.2,35.9850,28.7880
8560,8561,CA-2016-132829,2016-12-23,2016-12-26,Second Class,LA-16780,Laura Armstrong,Corporate,United States,Houston,...,Central,TEC-PH-10004912,Technology,Phones,Cisco SPA112 2 Port Phone Adapter,131.880,3,0.2,14.8365,13.1880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3831,3832,US-2015-111927,2015-11-14,2015-11-19,Standard Class,LS-17230,Lycoris Saunders,Consumer,United States,Dover,...,East,FUR-FU-10004017,Furniture,Furnishings,"Executive Impressions 13"" Chairman Wall Clock",76.140,3,0.0,26.6490,7.6140
3834,3835,CA-2014-105984,2014-11-24,2014-11-24,Same Day,MY-18295,Muhammed Yedwab,Corporate,United States,Columbus,...,East,FUR-CH-10000847,Furniture,Chairs,Global Executive Mid-Back Manager's Chair,611.058,3,0.3,-34.9176,61.1058
8068,8069,US-2015-160563,2015-10-20,2015-10-24,Standard Class,NS-18640,Noel Staavos,Corporate,United States,San Francisco,...,West,FUR-FU-10001731,Furniture,Furnishings,Acrylic Self-Standing Desk Frames,16.020,6,0.0,6.0876,1.6020
8070,8071,CA-2017-151750,2017-01-01,2017-01-05,Standard Class,JM-15250,Janet Martin,Consumer,United States,Huntsville,...,Central,FUR-FU-10002116,Furniture,Furnishings,"Tenex Carpeted, Granite-Look or Clear Contempo...",141.420,5,0.6,-187.3815,14.1420
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136,26.1960

In [65]:
data.sort_values(by=['Country', "Sales"], ascending=(False, True))
#sort_values(["b", "c"], ascending = (False, True))
#Country,Sales

,Row ID,OrderID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,tax
4101,4102,US-2017-102288,2017-06-19,2017-06-23,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,United States,Houston,...,Central,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.0444
9292,9293,CA-2017-124114,2017-03-02,2017-03-02,Same Day,RS-19765,Roland Schwarz,Corporate,United States,Waco,...,Central,OFF-BI-10004022,Office Supplies,Binders,Acco Suede Grain Vinyl Round Ring Binder,0.556,1,0.8,-0.9452,0.0556
8658,8659,CA-2016-168361,2016-06-21,2016-06-25,Standard Class,KB-16600,Ken Brennan,Corporate,United States,Chicago,...,Central,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,0.836,1,0.8,-1.3376,0.0836
4711,4712,CA-2014-112403,2014-03-31,2014-03-31,Same Day,JO-15280,Jas O'Carroll,Consumer,United States,Philadelphia,...,East,OFF-BI-10003529,Office Supplies,Binders,Avery Round Ring Poly Binders,0.852,1,0.7,-0.5964,0.0852
2106,2107,US-2014-152723,2014-09-26,2014-09-26,Same Day,HG-14965,Henry Goldwyn,Corporate,United States,Mesquite,...,Central,OFF-BI-10003460,Office Supplies,Binders,Acco 3-Hole Punch,0.876,1,0.8,-1.4016,0.0876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4190,4191,CA-2017-166709,2017-11-17,2017-11-22,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,...,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856,1049.9970
2623,2624,CA-2017-127180,2017-10-22,2017-10-24,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,...,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888,1119.9968
8153,8154,CA-2017-140151,2017-03-23,2017-03-25,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808,1399.9960
6826,6827,CA-2016-118689,2016-10-02,2016-10-09,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,...,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5,0.0,8399.9760,1749.9950
2697,2698,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784,2263.8480

In [66]:

#f.groupby(['Animal']).mean()
      #  Max Speed

In [67]:
data.columns

Index(['Row ID', 'OrderID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'tax'],
      dtype='object')

In [81]:
data.head()
data1.groupby('')

<bound method DataFrame.groupby of       Row ID         OrderID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Region       Product ID         Category Sub-Category  \
0     ...  South  FUR-BO-10001798        Furniture    Bookcases
1     ...  South  FUR-CH-10000454        Furniture       Chairs
2     ...   West  OFF-LA-10000240  Office Supplies       Labels
3     ...  South  FUR-TA-10000577        Furniture       Tables
4     ...  South  OFF-ST-10000760  Office Supplies      Storage
...   ...    ...              ...              ...          ...
9989  ...  South  FUR-FU-10001889        Furniture  Furnishings
9990  ...   West  FUR-FU-10000747        Furniture  Furnishings
9991  ...   West  TEC-PH-10003645       Technology       Phones
9992  ...   West  OFF-PA-10004041  Office Supplies        Paper
9993  ...   West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600        2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                        Eldon Fold 'N Roll Cart System   22.3680        2
...                                                 ...       ...      ...
9989                             Ultra Door Pull Handle   25.2480        3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600        2
9991                              Aastra 57i VoIP phone  258.5760        2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000        4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600        2

      Discount    Profit       tax
0         0.00   41.9136  26.19600
1         0.00  219.5820  73.19400
2         0.00    6.8714   1.46200
3         0.45 -383.0310  95.75775
4         0.20    2.5164   2.23680
...        ...       ...       ...
9989      0.20    4.1028   2.52480
9990      0.00   15.6332   9.19600
9991      0.20   19.3932  25.85760
9992      0.00   13.3200   2.96000
9993      0.00   72.9480  24.31600

[9994 rows x 22 columns]>

In [82]:
data1.groupby('Segment')

In [84]:
data.OrderID.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
9989    False
9990    False
9991    False
9992    False
9993    False
Name: OrderID, Length: 9994, dtype: bool

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   OrderID        9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  tax            9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(3), object(13)
memory usage: 1.7+ MB